{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmthek</title>
    <link rel="stylesheet" href="{% static 'films/style.css' %}">
</head>
<body>
    <nav class="nav">
        <li class="nav-item">
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'films:new_film' %}">Film +</a>
        </li>
    </nav>
    
    <h1>Filmlist Template</h1>

    {% for film in film_list %}

    <ul>
        <li>
            <a href="{% url 'films:detail' film.id %}">{{ film.film_name }}</a>
        </li>
    </ul>

    {% endfor %}

</body>
</html>